<p>
  {{sampleModel.firstName}} {{sampleModel.lastName}} is the name!
</p>

<!-- #f means referring to this <form> tag as a local variable -->
<!-- onSubmit takes the form itself as an input -->
<!-- use novalidate to disable HTML's default validation -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <!-- [(ngModel)] binds a field with a variable in the component, creating a 2-way binding -->
    <!-- just to be safe, make sure to have name="" to let the field know it belongs to a form -->
    <input type="text" class="form-control" id="firstNameInput"
           [(ngModel)]="inputString" name="firstName" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name (readonly, can't change)</label>
    <input type="text" readonly class="form-control" id="lastNameInput"
           [(ngModel)]="sampleModel.lastName" name="lastName"/>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
