<div class="container">
  <div class="clearfix">
    <h2 class="bd-title float-md-left">Messaging Inbox</h2>
    <div class="float-md-right"
         [class.message-open]="messageOpen"
         id="inbox-buttons">
      <button class="btn btn-danger" (click)=removeMessage($event) type="button">Remove Selected</button>
      <button class="btn btn-primary" data-toggle="modal" data-target="#newFormModal" type="button">New Message</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newFormModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header row" style="margin: 0;">
        <div class="col-12" style="text-align: center;">
          <h4 class="modal-title">Create Message</h4>
        </div>
      </div>
      <div class="modal-body">
        <app-message-form
          (create)="onCreateMessage($event)">
        </app-message-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container row" style="margin-left: auto; margin-right: auto;">
  <!-- Inbox -->
  <table class="col-md-5 table table-hover"
         [class.message-open]="messageOpen"
         id="inbox">
    <thead class="thead-dark border border-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">From</th>
        <th scope="col">Time Received</th>
      </tr>
    </thead>
    <tbody class="border-left border-right border-bottom" *ngIf="showTable">
      <tr *ngFor="let message of messages" (click)="messageOpen = message">
        <th scope="row">
          <input type="checkbox" name="removeMessage" data-id="{{message.id}}" aria-label="Checkbox for following message">
        </th>
        <td>{{message.title}}</td>
        <td>{{message.fromId}}</td>
        <td>{{message.dateCreated | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-1"></div>
  <!-- Opened Message -->
  <div class="card col-md-6" [class.hidden]="!messageOpen" style="margin-top: 2rem">
    <div class="card-header">
      <h4 class="float-left">Message</h4>
      <button class="btn btn-danger float-right" type="button"
              (click)="messageOpen = null">
        Close
      </button>
    </div>
    <div class="card-body">
      <div class="clearfix" style="margin-bottom:1rem;">
        <div class="float-left">
          <h5 class="card-title" style="margin-bottom:0.3rem;">Test</h5>
          <h6 class="card-subtitle text-muted">From dsfsdf</h6>
        </div>
      </div>
      <div class="d-block">
        <p class="card-text">dfgdfg</p>
      </div>
    </div>
  </div>
</div>
