<div class="container">
  <h2 class="bd-title float-md-left">Messaging Inbox</h2>
  <div class="float-md-right">
    <button class="btn btn-danger" type="button">Remove Selected</button>
    <button class="btn btn-primary" type="button">New Message</button>
  </div>


  <table class="table table-bordered table-hover" id="inbox">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">From</th>
        <th scope="col">Time Received</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <input type="checkbox" aria-label="Checkbox for following message">
        </th>
        <td>Test 1</td>
        <td>Mark Otto</td>
        <td>15 Sep, 8:56 AM (2013)</td>
      </tr>
      <tr>
        <th scope="row">
          <input type="checkbox" aria-label="Checkbox for following message">
        </th>
        <td>Test 1</td>
        <td>Jacob Thornton</td>
        <td>15 Sep, 8:56 AM (2013)</td>
      </tr>
      <tr>
        <th scope="row">
          <input type="checkbox" aria-label="Checkbox for following message">
        </th>
        <td>Test 1</td>
        <td>Larry the Bird</td>
        <td>15 Sep, 8:56 AM (2013)</td>
      </tr>
    </tbody>
  </table>
</div>
