<header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand"
       [routerLink]="['/home']">FM</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#responsive-navbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="responsive-navbar">
      <ul class="navbar-nav mr-auto" *ngIf="auth.isAuthenticated()">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservations']" routerLinkActive="active">My Reservations</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/classrooms']" routerLinkActive="active">Classrooms</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/devices']" routerLinkActive="active">Devices</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="#">Settings</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!auth.isAuthenticated()">
        <li class="nav-item"><a class="nav-link" (click)="auth.login()" routerLinkActive="active">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="auth.isAuthenticated()">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/messaging']" routerLinkActive="active">Messaging</a></li>
        <li class="nav-item"><a class="nav-link" (click)="auth.logout()" routerLinkActive="active">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

<router-outlet></router-outlet>
