<div class="container">
  <h2 class="bd-title">Rental List</h2>
  <button class="btn btn-primary" data-toggle="modal" data-target="#newFormModal" type="button">New Rental</button>


  <!-- Modal -->
  <div class="modal fade" id="newFormModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header row" style="margin: 0;">
          <div class="col-12" style="text-align: center;">
            <h4 class="modal-title">Create Rental</h4>
          </div>
        </div>
        <div class="modal-body">
          <!-- Form here -->
          <form #f="ngForm" (ngSubmit)="onCreateRental(f)" novalidate>
            <div class="form-group">
              <label for="deviceId">Device ID</label>
              <input id="deviceId" name="deviceId" #deviceId="ngModel" type="number" ngModel /> <br/>

              <label for="renterId">Renter ID</label>
              <input id="renterId" name="renterId" #renterId="ngModel" type="number" ngModel /><br/>

              <!--
              <label for="rentDate">Rent Date</label>
              <input id="rentDate" name="rentDate" #rentDate="ngModel" type="text" ngModel disabled/><br/>

              <label for="dueDate">Due Date</label>
              <input id="dueDate" name="dueDate" #dueDate="ngModel" type="text" ngModel disabled/><br/>
              -->
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngFor="let r of rentals" class="card container">
    <!-- Card Header -->
    <div class="card-header row" (click)="showCollapse('collapseClass' + r.id)">
      <div class="col-5 col-sm-4 align-middle">
        <!--TODO: get Device's information-->
        {{r.renterEmail}}

      </div>
    </div>


    <!-- Card Body (has to wrap .collapse div to make the animation smooth) -->
    <div class="collapse" id="collapseClass{{r.id}}">
      <div class="card-body row" style="padding-left: 0.25rem;">
        <div class="col-6">
          <strong>Device ID</strong>: {{r.deviceId}}<br/>
          <strong>Rent Date</strong>: {{r.rentDate}}<br/>
          <strong>Due Date</strong>: {{r.dueDate}}<br/>
          <!--TODO: get renter User's information-->
          <strong>Rented By</strong>: {{ r.renterEmail }}<br/>
          <div *ngIf="r.returnDate">
            <strong>Return Date</strong>: {{r.returnDate}}<br/>
            <strong>Return Condition</strong>: {{r.returnCondition}}<br/>
            <strong>Comment</strong>: {{r.comment || "(no comments)"}}<br/>
          </div>

        </div>
        <div class="col-6 text-right" style="padding-right: 0;">
          <!-- Action Button -->
          <div class="align-middle">
            <button *ngIf="!r.returnDate" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#returnFormModal'+r.id" type="button">
              <i class="material-icons align-middle">assignment</i>
              <span class="align-middle">Return</span>
            </button>
          </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="returnFormModal{{r.id}}" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header row" style="margin: 0;">
              <div class="col-12" style="text-align: center;">
                <h4 class="modal-title">Create Rental</h4>
              </div>
            </div>
            <div class="modal-body">
              <!-- Form here -->
              <form #f="ngForm" (ngSubmit)="onReturnRental(r, f)" novalidate>
                <div class="form-group">
                  <label for="returnCondition">Return Condition</label>
                  <select id="returnCondition" name="returnCondition" #returnCondition="ngModel" type="text" ngModel>
                      <option value="good">Good</option>
                      <option value="usable">Usable</option>
                      <option value="broken">Broken</option>
                  </select><br/>

                  <label for="comment">Comment</label>
                  <input id="comment" name="comment" #comment="ngModel" type="text" ngModel /><br/>

                  <!--
                  <label for="rentDate">Rent Date</label>
                  <input id="rentDate" name="rentDate" #rentDate="ngModel" type="text" ngModel disabled/><br/>

                  <label for="dueDate">Due Date</label>
                  <input id="dueDate" name="dueDate" #dueDate="ngModel" type="text" ngModel disabled/><br/>
                  -->
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
