<div class="container">
  <h2 class="bd-title">Rental List</h2>
  <div *ngFor="let r of rentals" class="card container">
    <!-- Card Header -->
    <div class="card-header row" (click)="showCollapse('collapseClass' + r.id)">
      <div class="col-5 col-sm-4 align-middle">
        <!--TODO: get Device's information-->
        {{r.deviceId}}
      </div>
    </div>


    <!-- Card Body (has to wrap .collapse div to make the animation smooth) -->
    <div class="collapse" id="collapseClass{{r.id}}">
      <div class="card-body row" style="padding-left: 0.25rem;">
        <div class="col-6">
          <strong>Device</strong>: {{r.deviceId}}<br/>
          <strong>Comment</strong>: {{r.comment || "(no comments)"}}<br/>
          <strong>Rent Date</strong>: {{r.rentDate}}<br/>
          <strong>Return Date</strong>: {{r.dueDate}}<br/>
          <!--TODO: get renter User's information-->
          <strong>Reserved By</strong>: {{ r.renterId }}
        </div>
        <div class="col-6 text-right" style="padding-right: 0;">
          <!-- Action Button -->
          <div class="align-middle">
            <button *ngIf="r.active==true" type="button"
                    class="btn btn-danger btn-sm" (click)="onCancelRental(r)">
              <i class="material-icons align-middle">assignment</i>
              <span class="align-middle">Cancel</span>
            </button>
            <button *ngIf="r.active==false" type="button"
                    class="btn btn-secondary btn-sm" disabled>
              <i class="material-icons align-middle">assignment</i>
              <span class="align-middle">Canceled</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
