<div class="jumbotron jumbotron-fluid" style="margin-top: -25px">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
  </div>
</div>

<div class="container" style="margin-top: 1rem; margin-bottom: 3rem">
  <div class="row">
    <div class="col-lg-8 col-md-6">
      <div class="card" style="margin-bottom: 1rem">
        <!-- Contents -->
        <div class="card-body">
          Bacon ipsum dolor amet porchetta beef ribs tri-tip, sirloin jowl pig strip steak chuck chicken beef fatback brisket andouille filet mignon shankle. Sirloin sausage pork loin pastrami swine. Cupim kielbasa picanha boudin kevin drumstick. Strip steak porchetta spare ribs sausage brisket ham swine jerky drumstick.
          <br />
          <br />
          Pancetta sausage tail chicken pastrami drumstick. Turducken pork belly sausage meatloaf, ball tip turkey short loin corned beef tail porchetta buffalo bresaola. Brisket short loin pastrami doner, ball tip capicola tail. Chicken cow pork loin, buffalo tenderloin turducken biltong drumstick salami bresaola t-bone short loin venison sausage corned beef. Jerky jowl doner ham kevin porchetta.
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card " style="background-color: #e6ecf0; padding-left: 1rem; padding-right: 1rem;">
        <!-- Embedded Tweets -->
        <blockquote *ngFor="let t of tweets" class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            {{t?.text}}
          </p>
          &mdash;
          Facility Management (@team3swen344)
          <a href="https://twitter.com/team3swen344/status/{{t?.id}}?ref_src=twsrc%5Etfw">{{t?.created_at}}</a>
        </blockquote>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            This is my first ever Tweet
          </p>
          &mdash;
          Facility Management (@team3swen344)
          <a href="https://twitter.com/team3swen344/status/970711247036526592?ref_src=twsrc%5Etfw">March 5, 2018</a>
        </blockquote>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            This is my first ever Tweet
          </p>
          &mdash;
          Facility Management (@team3swen344)
          <a href="https://twitter.com/team3swen344/status/970711247036526592?ref_src=twsrc%5Etfw">March 5, 2018</a>
        </blockquote>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            This is my first ever Tweet
          </p>
          &mdash;
          Facility Management (@team3swen344)
          <a href="https://twitter.com/team3swen344/status/970711247036526592?ref_src=twsrc%5Etfw">March 5, 2018</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
