<div class="container">
  <h2 class="page-header">Classroom List</h2>
  <div *ngFor="let c of classroomList" class="card container">
    <!-- Card Header -->
    <div class="card-header row" (click)="showCollapse('collapseClass' + c.id)">
      <div class="col-6 align-middle">
        {{c.className}}
      </div>

      <div class="col-4 text-center align-middle" id="reservation-status">
        {{c.reservationStatus}}<br />
        {{c.noOfParticipants + '/' + c.capacity}}
      </div>

      <div class="col-2 text-right align-middle">
        <button *ngIf="c.reservationStatus=='OPEN'" type="button"
                class="btn btn-success btn-sm">
          <i class="material-icons align-middle">assignment</i>
          <span class="d-none d-md-inline-block align-middle">Reserve</span>
        </button>
        <button *ngIf="c.reservationStatus=='RESERVED'" type="button"
                class="btn btn-danger btn-sm">
          <i class="material-icons align-middle">clear</i>
          <span class="d-none d-md-inline-block align-middle">Cancel</span>
        </button>
        <button *ngIf="c.reservationStatus=='UNAVAILABLE'" type="button"
                class="btn btn-secondary btn-sm" disabled>
          <i class="material-icons align-middle">assignment</i>
          <span class="d-none d-md-inline-block align-middle">Reserve</span>
        </button>
      </div>
    </div>

    <!-- Card Body (has to wrap .collapse div to make the animation smooth) -->
    <div class="collapse" id="collapseClass{{c.id}}">
      <div class="card-body">TEST</div>
    </div>
  </div>
</div>

