<div class="container">
  <h2 class="bd-title">Classroom List</h2>

  <button type="button" class="btn btn-info btn-sm"
          data-toggle="modal" data-target="#newClassroomFormModal"
          style="margin-bottom: 0.5rem;">
    <span class="align-middle">Add Classroom</span>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="newClassroomFormModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header row" style="margin: 0;">
          <div class="col-12" style="text-align: center;">
            <h4 class="modal-title">Create New Classroom</h4>
          </div>

        </div>
        <div class="modal-body">
          <app-classroom-form
            (create)="onCreateClassroom($event)">
          </app-classroom-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal NEW RESERVATION -->
  <div class="modal fade" id="newReservationFormModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a new Reservation</h4>
        </div>
        <div class="modal-body">
          <app-classroom-reservation-form
            (create)="onCreateReservation($event)">
          </app-classroom-reservation-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngFor="let c of classroomList" class="card container">
    <!-- Card Header -->
    <div class="card-header row" (click)="showCollapse('collapseClass' + c.id)">
      <div class="col-5 col-sm-4 align-middle">
        {{c.location}}
      </div>
      <div class="col-2 col-sm-4"></div>
      <div class="col-5 col-sm-4 no-gutters text-center align-middle row justify-content-end" id="classroom-status"
           [ngClass]="{'text-success': getActive(c) == false,
                       'text-danger': getActive(c) == true}">
        <div>
          <!--<strong>Participants: </strong>{{r.participants}}-->
          <strong>Capacity: </strong> {{c.capacity}}
        </div>
        <i class="material-icons align-middle" style="margin-left: 0.3rem">lens</i>
      </div>
    </div>

    <!-- Card Body (has to wrap .collapse div to make the animation smooth) -->
    <div class="collapse" id="collapseClass{{c.id}}">
      <div class="card-body row" style="padding-left: 0.25rem;">
        <div class="col-6">
          <strong>Location</strong>: {{c.location}}<!--Building 123--><br />
          <strong>Description</strong>: {{c.description}}<!--Building 123--><br />
        </div>
        <div class="col-6 text-right" style="padding-right: 0;">
          <!-- Action Button -->
          <div class="align-middle">
            <!--<button type="button"-->
                    <!--class="btn btn-danger btn-sm" (click)="onDeleteClassroom(c)">-->
              <!--<i class="material-icons align-middle">assignment</i>-->
              <!--<span class="align-middle">Delete</span>-->
            <!--</button>-->
            <button *ngIf="getActive(c) == false" type="button"
                    class="btn btn-success btn-sm" (click)="showReservationModal(c.id)">
              <i class="material-icons align-middle">assignment</i>
              <span class="align-middle">Reserve</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

