<div>
  {{device.name}} | Rentable: {{device.rentStatus}}

  <!-- Modal for edit device form -->
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" [attr.data-target]="'#' + device.name.split(' ').join('') + 'EditFormModal'" disabled>Edit Device</button>

  <!-- Modal -->
  <div class="modal fade" id="{{ device.name.split(' ').join('') + 'EditFormModal'}}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Device</h4>
        </div>
        <div class="modal-body">
          <app-device-form
           [creating]="false"
           [editableDevice]="this.device"
           (edit)="editDevice($event)">
          </app-device-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <button class="btn btn-danger" (click)="deleteDevice(device)">Delete</button>
</div>
