<form #f="ngForm" (ngSubmit)="createReservation(f)" novalidate>
  <div class="form-group">
    <label for="eventName">Event Name</label>
    <input [(ngModel)]="newReservation.eventName" id="resEventName" name="resEventName" type="text" class="validate"/><br/>
    <label for="startDate">Start Date</label>
    <input [(ngModel)]="newReservation.startDate" id="resStartDate" name="resStartDate" type="date" class="validate"/><br/>
    <label for="endDate">End Date</label>
    <input [(ngModel)]="newReservation.endDate" id="resEndDate" name="resEndDate" type="date" class="validate"/><br/>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
